{
    "extends": ["airbnb"],
    "plugins": ["jest"],
    "parser": "babel-eslint",
    "env": { "jest": true },
    "rules": {
        "max-len": "off",
        "react/jsx-filename-extension": "off"
    },
    "globals": {
        "fetch": false
    }
}
